<!DOCTYPE html>
<html>
  <head>
    <title>Stulzer.com - Fullstack Ruby on Rails Engineering, EmberJS, SysAdmin, Devops</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
